@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  transition: all 0.75s ease-in-out;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  height: 100vh;
}

button {
  transition: all 0.75s ease-in-out;
  color: rgb(var(--background-rgb));
  background-color: rgb(var(--foreground-rgb));
}
